.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: "larken_demoblack";
    font-size: 1.8rem;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  .envelope {
    background-image: url(./../images/contact-envelope.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80%;
    width: 100%;
    // border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    .leftbox {
      //   border: 3px solid green;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .text {
        width: 24rem;
        align-self: left;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
      }

      .contactbox {
        display: flex;
        align-items: center;
        height: 5.5rem;
        width: 24rem;

        img {
          height: 2rem;
          width: 2rem;
          margin-right: 1rem;
        }
      }
    }

    .rightbox {
      //   border: 3px solid green;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      form {
        display: flex;
        flex-direction: column;
        width: 22.5rem;
        padding: 1rem;
        font-family: "Raleway", sans-serif;

        button {
            font-family: "larken_demoblack";
            font-size: 1.3rem;
        }

        p {
            padding: 0.5rem 0;
        }

        textarea {
          border-top: black solid 1.5px;
          border-bottom: black solid 1.5px;
          padding: 0.6rem 0;
          margin-bottom: 3rem;
          resize: none;
          height: 10rem;
        }

        input {
          //   border: rgb(194, 194, 194) 1px solid;
          //   border-radius: 1rem;
          border-top: black solid 1.5px;
          padding: 0.6rem 0;
          margin: 0.2rem 4rem;
        }
      }
    }
  }
}
