.navbar {
    position: absolute;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 3rem;
    border: red solid 1px;
    background: none;

    .logo {
        display: flex;
        border: red solid 1px;
        align-items: center;

        .logoText {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 3rem;
                font-family: 'larken_demoblack';
            }
        }
    }

    .links {
        display: flex;
        align-items: center;

        li {
            padding: 0 1rem;
            font-size: 1.2rem;
            font-family: "larken_demomedium";
        }
    }
}