$red-color: #bc1818;

.navbar {
  position: absolute;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 8rem;
  background: none;

  .logo {
    display: flex;

    align-items: center;
    cursor: pointer;

    .logoImg {
      width: 1.8rem;
      height: 100%;
      background-image: url("./../icons/logo-flag.svg");
      background-size: cover;
      object-position: right;
      background-repeat: no-repeat;
      margin-right: 0.5rem;
    }

    .logoText {
      display: flex;
      flex-direction: column;
      width: fit-content;

      h1 {
        font-size: 3.5rem;
        font-family: "larken_demoblack";
      }

      p {
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 0.91rem;
        text-align: center;
      }
    }
  }

  .links {
    display: flex;
    align-items: center;

    li {
      padding: 0 1rem;
      font-size: 1.2rem;
      font-family: "larken_demomedium";
      cursor: pointer;
    }
  }
}
