.container {
  display: flex;
  flex-direction: column;
  border-bottom: solid black 1px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 5rem;
  width: 100%;
  z-index: 101;
  position: relative;
  box-sizing: border-box;
  // margin-left: 2rem;
  // max-width: 80%;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: ease-in-out 0.1s;
    color: #bc1818;
  }

  &:hover img {
    transform: scale(1.5);
    transform-origin: top right;
    transition: ease-in-out 0.1s;
  }

  &:active {
    transform: scale(0.99);
    transition: ease-in-out 0.1s;
  }

  p {
    padding: 0 0 0 2rem;
    font-size: 1.3rem;
  }

  .toprow {
    display: flex;
    justify-content: space-between;
    height: 1.5rem;
    width: 100%;
    padding-bottom: 1.8rem;
    // border-bottom: solid 1px black;

    .toprowleft {
      display: flex;

      p {
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.5rem;
        padding-left: 0;
        width: 2rem;
        height: 100%;
      }

      h3 {
        font-family: "larken_demoblack";
        font-size: 1.5rem;
        width: 6rem;
      }
    }
    img {
      height: 1.5rem;
      width: 1.5rem;
      object-fit: contain;
    }
  }
}
