.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  .toprow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;

    .toprowleft {
      display: flex;
      .textmini {
        font-size: 0.6rem;
        color: #a9a9a9;
        margin-left: 0.5rem;
      }
    }

    .stars {
      display: flex;
      width: fit-content;

      img {
        object-fit: contain;
        height: 1.8rem;

        @media (max-width: 1024px) {
          height: 1.2rem;
          width: 1.2rem;
        }
      }
    }
  }

  .quote {
    p {
      font-family: "Raleway", sans-serif;
      font-style: italic;
      padding-top: 0.5rem;
    }
  }
}
