.container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;

  @media (max-width: 768px) {
    padding-bottom: 1rem;
  }

  img {
    width: 3.5rem;
    height: 3.5rem;

    @media (max-width: 1024px) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  p {
    padding-left: 2rem;
  }

  .red {
    color: #bc1818;
  }

  

}
