$red-color: #bc1818;

* {
  scroll-behavior: smooth;
}

body {
  position: relative;
}



// fonts

@font-face {
  font-family: "larken_demoblack";
  src: url("./larken/larkendemo-black-webfont.woff2") format("woff2"),
    url("./larken/larkendemo-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "larken_demobold";
  src: url("./larken/larkendemo-bold-webfont.woff2") format("woff2"),
    url("./larken/larkendemo-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "larken_demoextrabold";
  src: url("./larken/larkendemo-extrabold-webfont.woff2") format("woff2"),
    url("./larken/larkendemo-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "larken_demolight";
  src: url("./larken/larkendemo-light-webfont.woff2") format("woff2"),
    url("./larken/larkendemo-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "larken_demomedium";
  src: url("./larken/larkendemo-medium-webfont.woff2") format("woff2"),
    url("./larken/larkendemo-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "larken_demoregular";
  src: url("./larken/larkendemo-regular-webfont.woff2") format("woff2"),
    url("./larken/larkendemo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "larken_demothin";
  src: url("./larken/larkendemo-thin-webfont.woff2") format("woff2"),
    url("./larken/larkendemo-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


