.app {
  position: relative;
  height: fit-content;
}

.container {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .absolutediv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600%;
    z-index: 1;

  }

  .muisection {
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
  }
}
