.app {
  position: relative;
  height: fit-content;
}

.container {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .absolutediv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600%;
    

    .break {
      height: 13vh;
    }

    .hidden {
      display: none;
    }

    .shown {
      display: block;
    }

    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: black;
      min-height: fit-content;

      @media (max-width: 1024px) {
        transform: scale(0.7);
      }

      .logoImg {
        width: 1.8rem;
        height: 4.41rem;
        background-image: url("./icons/logo-flag.svg");
        background-size: cover;
        object-position: right;
        background-repeat: no-repeat;
        margin-right: 0.5rem;
      }

      .logoText {
        display: flex;
        flex-direction: column;
        width: fit-content;

        h1 {
          font-size: 3.5rem;
          font-family: "larken_demoblack";
        }

        p {
          font-family: "Raleway", sans-serif;
          font-weight: 400;
          font-size: 0.91rem;
          text-align: center;
        }
      }
    }
  }
}
